<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include guids.wxi ?>
  <?include defines.wxi ?>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR" FileSource="$(var.SourceDir)">
      <Component Id="distOutput" Guid="$(var.dist.guid)" Win64='$(var.IsX64)'>
        <File Name="thg.exe" KeyPath="yes" />
        <File Name="hg.exe" />
        <File Name="python27.dll" />
      </Component>
      <Directory Id="libdir" Name="lib" FileSource="$(var.SourceDir)/lib">
        <Component Id="libOutput" Guid="$(var.lib.guid)" Win64='$(var.IsX64)'>
          <File Name="library.zip" KeyPath="yes" />
          <File Name="pythoncom27.dll" />
          <File Name="pywintypes27.dll" />
          <File Name="Qt5Core.dll" />
          <File Name="Qt5Gui.dll" />
          <File Name="Qt5Widgets.dll" />
          <File Name="Qt5Network.dll" />
          <File Name="Qt5PrintSupport.dll" />
          <File Name="Qt5Svg.dll" />
          <File Name="Qt5Xml.dll" />
          <File Name="qt.conf" />
          <File Name="qscintilla2_qt5.dll" />
          <File Name="CRYPT32.dll" />
          <File Name="VCRUNTIME140.dll" />
          <File Name="MSVCP140.dll" />
          <File Name="sqlite3.dll" />
          <File Name="markupsafe._speedups.pyd" />
          <File Name="mercurial.cext.base85.pyd" />
          <File Name="mercurial.cext.bdiff.pyd" />
          <File Name="mercurial.cext.mpatch.pyd" />
          <File Name="mercurial.cext.osutil.pyd" />
          <File Name="mercurial.cext.parsers.pyd" />
          <File Name="mercurial.zstd.pyd" />
          <File Name="hgext.fsmonitor.pywatchman.bser.pyd" />
          <File Name="pyexpat.pyd" />
          <File Name="PyQt5.Qsci.pyd" />
          <File Name="PyQt5.QtCore.pyd" />
          <File Name="PyQt5.QtGui.pyd" />
          <File Name="PyQt5.QtWidgets.pyd" />
          <File Name="PyQt5.QtPrintSupport.pyd" />
          <File Name="PyQt5.QtNetwork.pyd" />
          <File Name="PyQt5.QtSvg.pyd" />
          <File Name="PyQt5.QtXml.pyd" />
          <File Name="bz2.pyd" />
          <File Name="dulwich._diff_tree.pyd" />
          <File Name="dulwich._objects.pyd" />
          <File Name="dulwich._pack.pyd" />
          <File Name="select.pyd" />
          <File Name="sip.pyd" />
          <File Name="unicodedata.pyd" />
          <File Name="win32api.pyd" />
          <File Name="win32com.shell.shell.pyd" />
          <File Name="win32cred.pyd" />
          <File Name="win32event.pyd" />
          <File Name="win32file.pyd" />
          <File Name="win32gui.pyd" />
          <File Name="win32pipe.pyd" />
          <File Name="win32process.pyd" />
          <File Name="win32security.pyd" />
          <File Name="win32trace.pyd" />
          <File Name="_ctypes.pyd" />
          <File Name="_ctypes_test.pyd" />
          <File Name="_elementtree.pyd" />
          <File Name="_hashlib.pyd" />
          <File Name="_multiprocessing.pyd" />
          <File Name="_socket.pyd" />
          <File Name="_ssl.pyd" />
          <File Name="_sqlite3.pyd" />
          <File Name="_win32sysloader.pyd" />
          <File Name="spawn.cmd" />
        </Component>
        <?if $(var.Platform) = "x64" ?>
          <Component Id='KDiff3EXE' Guid='$(var.KDiff3EXE.guid)' Win64='$(var.IsX64)'>
            <File Id='KDiff3EXE' Name='kdiff3.exe' KeyPath='yes'
                  Source='..\contrib\kdiff3x64.exe'/>
            <Shortcut Id='kdiff3StartMenu' Directory='ProgramMenuDir'
                  Name='KDiff3'
                  Advertise='yes'
                  Icon='kdiff3.exe'>
                  <Icon Id='kdiff3.exe' SourceFile='..\contrib\kdiff3x64.exe'/>
            </Shortcut>
          </Component>
          <Component Id='TortoisePlinkEXE' Guid='$(var.TortoisePlinkEXE.guid)' Win64='$(var.IsX64)'>
            <File Id='TortoisePlinkEXE' Name='TortoisePlink.exe' KeyPath='yes'
                  Source='..\contrib\TortoisePlink-x64.exe'
            />
          </Component>
        <?else?>
          <Component Id='KDiff3EXE' Guid='$(var.KDiff3EXE.guid)' Win64='$(var.IsX64)'>
            <File Id='KDiff3EXE' Name='kdiff3.exe' KeyPath='yes'
                  Source='..\contrib\kdiff3.exe'/>
            <Shortcut Id='kdiff3StartMenu' Directory='ProgramMenuDir'
                  Name='KDiff3'
                  Advertise='yes'
                  Icon='kdiff3.exe'>
                  <Icon Id='kdiff3.exe' SourceFile='..\contrib\kdiff3.exe'/>
            </Shortcut>
          </Component>
          <Component Id='TortoisePlinkEXE' Guid='$(var.TortoisePlinkEXE.guid)' Win64='$(var.IsX64)'>
            <File Id='TortoisePlinkEXE' Name='TortoisePlink.exe' KeyPath='yes'
                  Source='..\contrib\TortoisePlink-x86.exe'
            />
          </Component>
        <?endif?>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="imgFmtDir" Name="imageformats" FileSource="$(var.SourceDir)/imageformats">
        <Component Id="imageFormats" Guid="$(var.imageformats.guid)" Win64='$(var.IsX64)'>
          <File Name="qico.dll" KeyPath="yes" />
          <File Name="qsvg.dll" />
          <File Name="qjpeg.dll" />
          <File Name="qgif.dll" />
          <File Name="qicns.dll" />
          <File Name="qtga.dll" />
          <File Name="qtiff.dll" />
          <File Name="qwbmp.dll" />
          <File Name="qwebp.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="platformDir" Name="platforms" FileSource="$(var.SourceDir)/platforms">
        <Component Id="platforms" Guid="$(var.platforms.guid)" Win64='$(var.IsX64)'>
          <File Name="qwindows.dll" KeyPath="yes" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>

</Wix>
