<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include guids.wxi ?>
  <?include defines.wxi ?>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <!-- referenced by shellext/wix/cmenu-i18n.wxs -->
      <Directory Id="i18ndir" Name="i18n" FileSource="$(var.SourceDir)"/>
    </DirectoryRef>
  </Fragment>

</Wix>
