Source: tortoisehg
Section: vcs
Priority: optional
Maintainer: Ludovico Cavedon <cavedon@debian.org>
Uploaders: Max Bowsher <maxb@f2s.com>
Build-Depends: debhelper (>= 9), python (>= 2.6.6-3~)
Build-Depends-Indep: docbook-xsl, docbook-xml,
 xsltproc, python-sphinx, pyqt4-dev-tools
Standards-Version: 4.1.0
Homepage: https://tortoisehg.bitbucket.io
Vcs-Git: https://anonscm.debian.org/git/collab-maint/tortoisehg.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/tortoisehg.git
X-Python-Version: >= 2.4

Package: tortoisehg
Architecture: all
Depends: mercurial (>= 4.2~), mercurial (<< 4.4~), python-gobject (>= 2.12.1),
 python-qt4 (>= 4.7), python-qscintilla2, ${shlibs:Depends}, ${misc:Depends},
 ${python:Depends}
Recommends: libjs-jquery, libjs-underscore, python-iniparse, python-pygments
Suggests: tortoisehg-nautilus
Description: Graphical tool for working with Mercurial
 TortoiseHg provides a graphical tool for interacting with the distributed
 revision control system Mercurial.  GUI support is provided for over a dozen
 operations, including add files, commit changes, manage ignore filter, view
 change log, merge, recover/rollback, edit configuration, synchronize
 repository, and many others.   The highlight is the interactive commit tool
 which allows easy selection of diffs from multiple files and packaging into
 changesets, and which is more powerful and easier to use than available
 alternatives such as qct and hgct (commit-tool).

Package: tortoisehg-nautilus
Architecture: all
Depends: gnome-icon-theme-full | gnome-icon-theme,
         python-gi,
         python-nautilus (>= 1.1-2),
         tortoisehg (>= ${source:Version}),
         ${misc:Depends},
         ${python:Depends}
Recommends: ssh-askpass-gnome | ssh-askpass
Description: Graphical tool for working with Mercurial (Nautilus extension)
 TortoiseHg provides a graphical tool for interacting with the distributed
 revision control system Mercurial.  GUI support is provided for over a dozen
 operations, including add files, commit changes, manage ignore filter, view
 change log, merge, recover/rollback, edit configuration, synchronize
 repository, and many others.   The highlight is the interactive commit tool
 which allows easy selection of diffs from multiple files and packaging into
 changesets, and which is more powerful and easier to use than available
 alternatives such as qct and hgct (commit-tool).
 .
 This package contains the Nautilus extension for TortoiseHg.

Package: tortoisehg-caja
Architecture: all
Depends: mate-icon-theme | gnome-icon-theme-full | gnome-icon-theme,
         python-gi,
         python-caja (>= 1.1-2),
         tortoisehg (>= ${source:Version}),
         ${misc:Depends},
         ${python:Depends}
Recommends: ssh-askpass-gnome | ssh-askpass
Description: Graphical tool for working with Mercurial (Caja extension)
 TortoiseHg provides a graphical tool for interacting with the distributed
 revision control system Mercurial.  GUI support is provided for over a dozen
 operations, including add files, commit changes, manage ignore filter, view
 change log, merge, recover/rollback, edit configuration, synchronize
 repository, and many others.   The highlight is the interactive commit tool
 which allows easy selection of diffs from multiple files and packaging into
 changesets, and which is more powerful and easier to use than available
 alternatives such as qct and hgct (commit-tool).
 .
 This package contains the Caja extension for TortoiseHg.
