#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_INSTALL_DOCS_tortoisehg="--exclude=nautilus-thg.py"

build/tortoisehg:: debian/hgtk.1

debian/hgtk.1: debian/hgtk.1.xml
	xsltproc --nonet \
		--param make.year.ranges 1 \
		--param make.single.year.ranges 1 \
		--param man.charmap.use.subset 0 \
		-o debian/ \
		/usr/share/xml/docbook/stylesheet/nwalsh/manpages/docbook.xsl \
		debian/hgtk.1.xml


# drop automatically created file; see #424898
clean::
	rm -f debian/pycompat
	rm -f debian/hgtk.1
	rm -fr locale

DEBVERSION:=$(shell head -n 1 debian/changelog | sed -e 's/^[^(]*(\([^)]*\)).*/\1/')
SRCVERSION:=$(shell echo $(DEBVERSION) | sed -e 's/^.*://' -e 's/-[.0-9]*$$//')
UPVERSION:=$(shell echo $(SRCVERSION) | sed -e 's/[\.+~]dfsg.*$$//')

print-version:
	@@echo "Debian version:          $(DEBVERSION)"
	@@echo "Source version:          $(SRCVERSION)"
	@@echo "Upstream version:        $(UPVERSION)"

## Need to get from RCS and repackage because tarball for versions <= 0.8 do not include .po files
#get-orig-source:
#	@@dh_testdir
#	uscan --force-download --download-version $(UPVERSION)
#	mkdir ../tempdir
#	cd ../tempdir && tar zxf ../$(UPVERSION).gz
#	# Encode proper version number in build script
#	sed -i -e "s/version = \"unknown\"/version = \"$(UPVERSION)\"/" ../tempdir/stable/setup.py
#	sed -i -e "s/or 'unknown'/or '$(UPVERSION)'/" ../tempdir/stable/setup.py
#	echo 'include i18n/*' >> ../tempdir/stable/MANIFEST.in
#	cd ../tempdir/stable && python setup.py sdist
#	mv ../tempdir/stable/dist/tortoisehg-$(UPVERSION).tar.gz ../tortoisehg_$(SRCVERSION).orig.tar.gz
#	rm -r ../tempdir
#	rm ../$(UPVERSION).gz

